Package: python-hyperlink
Source: hyperlink
Version: 17.3.1-2
Architecture: all
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Installed-Size: 132
Depends: python:any (<< 2.8)
Section: python
Priority: optional
Homepage: https://github.com/python-hyper/hyperlink
Description: Immutable, Pythonic, correct URLs.
 Hyperlink provides a pure-Python implementation of immutable URLs. Based on
 RFC 3986 and 3987, the Hyperlink URL makes working with both URIs and IRIs
 easy.
 .
 This package provides the Python 2.x module.
