Package: python-pyasn1-modules
Version: 0.0.7-0.1
Architecture: all
Maintainer: Marc Haber <mh+debian-packages@zugschlus.de>
Installed-Size: 170
Depends: python-pyasn1, python:any (<< 2.8)
Section: python
Priority: optional
Homepage: http://pypi.python.org/pypi/pyasn1-modules
Description: Collection of protocols modules written in ASN.1 language
 This is a small but growing collection of ASN.1 data structures
 expressed in Python terms using pyasn1 data model.
 .
 It's thought to be useful to protocol developers and testers.
 .
 Please note that pyasn1_modules is neither part of the pyasn1 package
 nor related to it.
