Package: python-click
Version: 6.7-1
Architecture: all
Maintainer: Alexandre Viau <aviau@debian.org>
Installed-Size: 260
Depends: python:any (<< 2.8), python-colorama
Section: python
Priority: optional
Homepage: https://github.com/mitsuhiko/click
Description: Simple wrapper around optparse for powerful command line utilities - Python 2.7
 Click is a Python package for creating beautiful command line interfaces
 in a composable way with as little code as necessary.  It's the "Command
 Line Interface Creation Kit".  It's highly configurable but comes with
 sensible defaults out of the box.
 .
 It aims to make the process of writing command line tools quick and fun
 while also preventing any frustration caused by the inability to implement
 an intended CLI API.
 .
 This is the Python 2 compatible package.
