Package: openjdk-8-jre
Source: openjdk-8
Version: 8u212-b01-1
Architecture: arm64
Maintainer: OpenJDK Team <openjdk@lists.launchpad.net>
Installed-Size: 258
Depends: openjdk-8-jre-headless (= 8u212-b01-1), libglib2.0-0 (>= 2.24), libxrandr2, libxinerama1, libgl1-mesa-glx | libgl1, libgtk-3-0, libatk-wrapper-java-jni (>= 0.33.3-9~), libasound2 (>= 1.0.16), libc6 (>= 2.17), libgif7 (>= 5.1), libjpeg62-turbo (>= 1.3.1), libpng16-16 (>= 1.6.2-1), libpulse0 (>= 0.99.1), libx11-6, libxext6, zlib1g (>= 1:1.1.4)
Recommends: fonts-dejavu-extra
Suggests: icedtea-8-plugin
Replaces: openjdk-8-jre-headless (<< 8u20~b20-3)
Provides: java2-runtime, java5-runtime, java6-runtime, java7-runtime, java8-runtime
Section: java
Priority: optional
Multi-Arch: same
Homepage: http://openjdk.java.net/
Description: OpenJDK Java runtime, using Hotspot JIT
 Full Java runtime environment - needed for executing Java GUI and Webstart
 programs, using Hotspot JIT.
 .
 The packages are built using the IcedTea build support and patches
 from the IcedTea project.
