Package: python-crypto
Source: python-crypto (2.6.1-7)
Version: 2.6.1-7+b1
Architecture: arm64
Maintainer: Sebastian Ramacher <sramacher@debian.org>
Installed-Size: 1392
Depends: python (<< 2.8), python (>= 2.7~), libgmp10
Suggests: python-crypto-dbg, python-crypto-doc
Provides: python2.7-crypto
Section: python
Priority: optional
Homepage: http://www.pycrypto.org/
Description: cryptographic algorithms and protocols for Python
 A collection of cryptographic algorithms and protocols, implemented
 for use from Python. Among the contents of the package:
 .
  * Hash functions: HMAC, MD2, MD4, MD5, RIPEMD160, SHA, SHA256.
  * Block encryption algorithms: AES, ARC2, Blowfish, CAST, DES, Triple-DES.
  * Stream encryption algorithms: ARC4, simple XOR.
  * Public-key algorithms: RSA, DSA, ElGamal.
  * Protocols: All-or-nothing transforms, chaffing/winnowing.
  * Miscellaneous: RFC1751 module for converting 128-bit keys
    into a set of English words, primality testing, random number generation.
