Package: python-pyinotify
Source: pyinotify
Version: 0.9.6-1
Architecture: all
Maintainer: Mikhail Gusarov <dottedmag@debian.org>
Installed-Size: 131
Depends: python:any (<< 2.8)
Suggests: python-pyinotify-doc
Provides: python2.7-pyinotify
Section: python
Priority: optional
Homepage: https://github.com/seb-m/pyinotify
Description: simple Linux inotify Python bindings
 pyinotify is a simple wrapper for the Linux inotify mechanism.
 .
 inotify is a Linux Kernel feature available since 2.6.13. inotify makes
 it possible for applications to easily be notified of filesystem changes.
