Package: python-enum34
Source: enum34
Version: 1.1.6-1
Architecture: all
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Installed-Size: 218
Depends: python:any (<< 2.8)
Suggests: python-enum34-doc
Breaks: python-enum
Section: python
Priority: optional
Homepage: https://pypi.python.org/pypi/enum34
Description: backport of Python 3.4's enum package
 PEP 435 adds an enumeration to Python 3.4.  This module provides a
 backport of that data type for older Python versions.  It defines two
 enumeration classes that can be used to define unit sets of names and
 values: Enum and IntEnum.
 .
 This is the Python 2 compatible package.
