Package: python-cryptography
Version: 2.6.1-4
Architecture: arm64
Maintainer: Tristan Seligmann <mithrandi@debian.org>
Installed-Size: 1643
Depends: python-asn1crypto, python-enum34, python-ipaddress, python-six, python2 (<< 2.8), python2 (>= 2.7~), libssl1.1 (>= 1.1.1)
Suggests: python-cryptography-doc, python-cryptography-vectors
Breaks: python-openssl (<< 16.0.0)
Section: python
Priority: optional
Homepage: https://cryptography.io/
Description: Python library exposing cryptographic recipes and primitives (Python 2)
 The cryptography library is designed to be a "one-stop-shop" for
 all your cryptographic needs in Python.
 .
 As an alternative to the libraries that came before it, cryptography
 tries to address some of the issues with those libraries:
  - Lack of PyPy and Python 3 support.
  - Lack of maintenance.
  - Use of poor implementations of algorithms (i.e. ones with known
    side-channel attacks).
  - Lack of high level, "Cryptography for humans", APIs.
  - Absence of algorithms such as AES-GCM.
  - Poor introspectability, and thus poor testability.
  - Extremely error prone APIs, and bad defaults.
 .
 This package contains the Python 2 version of cryptography.
