Package: python-automat
Source: automat
Version: 0.6.0-1
Architecture: all
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Installed-Size: 134
Depends: python-attr, python-six, python:any (<< 2.8), python:any (>= 2.7.5-5~)
Section: python
Priority: optional
Homepage: https://github.com/freeekanayaka/systemfixtures
Description: Self-service finite-state machines for the programmer on the go
 Automat is a library for concise, idiomatic Python expression of
 finite-state automata (particularly deterministic finite-state
 transducers).
