Package: python-pickleshare
Source: pickleshare
Version: 0.7.5-1
Architecture: all
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Installed-Size: 30
Depends: python-pathlib2, python:any (<< 2.8)
Section: python
Priority: optional
Homepage: https://github.com/pickleshare/pickleshare
Description: File system based database that uses Python pickles for Python 2
 Like shelve, a PickleShareDB object acts like a normal dictionary. Unlike
 shelve, many processes can access the database simultaneously. Changing a
 value in database is immediately visible to other processes accessing the
 same database.
 .
 Concurrency is possible because the values are stored in separate files.
 Hence the "database" is a directory where all files are governed by
 PickleShare.
 .
 This package installs the library for Python 2.
